body {
    background-color: #FFF3E0; /* Color pastel cálido */
    font-family: 'Poppins', sans-serif; /* Fuente moderna y amigable */
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.catalog-container {
    max-width: 1200px;
    margin: auto;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product {
    background: white;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    height: 250px;
    object-fit: contain; /* Ahora la imagen se ve completa */
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    margin: 5px 0;
}

@media (max-width: 768px) {
    #products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #products {
        grid-template-columns: repeat(1, 1fr);
    }
}

.price-container {
    margin-top: 10px;
    padding: 10px;
    background: #FFB6C1; /* Rosa pastel */
    border-radius: 8px;
    color: white;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.promo-price {
    font-size: 16px;
    font-weight: bold;
    color: yellow;
}

/* CSS */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    width: 60%;
    padding: 10px;
    border: 2px solid #FFB6C1; /* Color rosa claro */
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.search-container input:focus {
    border-color: #FF69B4; /* Rosa más intenso al enfocar */
}

.search-container button {
    padding: 10px 20px;
    border: 2px solid #FFB6C1;
    background-color: #FFB6C1;
    color: white;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #FF69B4;
}
