/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables de color */
:root {
  --color-principal: #DB5552; /* Rosa oscuro (HEX) */
  --color-secundario: #f7e99c; /* Amarillo claro (HEX) */
  --color-terciario: #6d3f25; /* Marrón claro (HEX) */
  --color-resaltar: #52D8DB; /* Celeste claro (HEX) */
  --color-fondo: #f9d8ec; /* Rosa claro (HEX) */
}

body {
  font-family: 'Popins', sans-serif;
  background-color: var(--color-fondo); /* Rosa claro */
  color: #ffffff;
  line-height: 1.6;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-principal);  /* Rosa oscuro */
}

header img {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  height: 50px;
}

/* Banner */
/* BANNER INACTIVO {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
} */

.banner img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.texto-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px;
}

.texto-banner h1 {
  font-size: 2.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 10px;
}

/* Botones */
.botones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.boton {
  background-color: var(--color-principal);
  color: var(--color-secundario);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 24px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  min-width: 200px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.boton:hover {
  background-color: black;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  background-color: var(--color-principal);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

footer a {
  color: var(--color-resaltar);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .texto-banner h1 {
    font-size: 1.8rem;
    padding: 10px 20px;
  }

  .botones {
    flex-direction: column;
    align-items: center;
  }

  .boton {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .texto-banner h1 {
    font-size: 1.4rem;
    padding: 8px 15px;
  }

  .boton {
    font-size: 1rem;
    padding: 12px 25px;
  }

  footer {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}